.artPage {
  display: grid;
  grid-template-rows: 10vh 70vh;
}

.artHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.artBody {
  display: grid;
  grid-template-rows: 2fr 6fr 2fr;
}

.controlBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.artBar {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
  justify-content: center;
}

.leftColumn,
.centerColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

.canvasWrapper {
  border: solid 1px white;
}

.randomButton,
.saveButton {
  background-color: rgb(84, 113, 207);
  color: white;
  padding: 8px;
  border-radius: 0;
  border: none;
  font-size: 1em;
  /* background: none; */
  box-shadow: none;
  width: 140px;
  margin: 4px;
  font-family: 'Caveat', cursive;
  font-size: 1.5em;
}

/* cursor hovers over the button */
.randomButton:hover,
.saveButton:hover {
  background-color: rgb(84, 113, 207);
  color: white;
  border: double 1px white;
  /* background: none; */
  box-shadow: none;
}

/* mouse click on the button */
.randomButton:active,
.saveButton:active {
  background-color: white;
  color: rgb(84, 113, 207);
  border: dotted 1px white;
  /* background: none; */
  box-shadow: none;
}

.lowerBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.loadingSpinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../assets/appIcons/splatter.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 50vh;
}
