.eCardPage {
  display: grid;
  grid-template-rows: 15vh 70vh 15vh;
  font-family: 'Roboto Mono', monospace;
}

.eCardHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.eCardBody {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.eCardDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.canvasWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.eCardForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.eCardFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
