.eCardPage {
  display: grid;
  grid-template-rows: 15vh 70vh 15vh;
  /* font-family: 'Roboto Mono', monospace; */
}

.eCardHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.eCardBody {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.eCardDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.canvasWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.eCardForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}

.eCardButton {
  background-color: rgb(84, 113, 207);
  color: white;
  padding: 8px;
  border-radius: 0;
  border: none;
  /* background: none; */
  box-shadow: none;
  width: 145px;
  /* margin: 4px; */
  font-family: 'Caveat', cursive;
  font-size: 1.3em;
}

.eCardFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.eCardButton:hover {
  background-color: rgb(84, 113, 207);
  color: white;
  border: 1px solid  white;
  /* background: none; */
  box-shadow: none;
}

.eCardButton:active {
  background-color: white;
  color: rgb(84, 113, 207);
  border: dotted 1px white;
  /* background: none; */
  box-shadow: none;
}

.loadingSpinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../assets/appIcons/splatter.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 50vh;
}
