.galleryPage {
  display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: 0.1fr repeat(3, 1fr) 0.1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.galleryHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  grid-area: 1 / 1 / 2 / 6;
}

.galleryBody {
  display: grid;
  grid-area: 2 / 1 / 5 / 6;
}

.controlBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.galleryBar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.centerColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(230, 227, 227);
}

.canvasWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lowerBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  grid-area: 5 / 1 / 6 / 6;
}

.loadingSpinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../assets/appIcons/splatter.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 50vh;
}
