.galleryPage {
  display: grid;
  grid-template-rows: 15vh 85vh;
}

.galleryHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.galleryBody {
  display: grid;
  grid-template-rows: 2fr 6fr 2fr;
}

.controlBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.galleryBar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.centerColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(230, 227, 227);
}

.canvasWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lowerBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

li {
  list-style-type: none;
}