.galleryPage {
  display: grid;
  grid-template-rows: 15vh 85vh;
}

.galleryHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.8em;
}

.galleryBody {
  display: flex;
  padding-left: 125px;
}

.controlBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.galleryBar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.centerColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(230, 227, 227);
}

.canvasWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lowerBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.galleryLI {
  list-style-type: none;
}

.loadingSpinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../assets/appIcons/splatter.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 50vh;
}
