.teamHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
.teamMembers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .memberItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    margin: 10px;
  }

  .linkedInLogo {
    height: 30px;
    padding: 5px;
  }
  
  .githubLogo {
    height: 30px;
    padding: 5px;
  }