@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

@font-face {
  font-family: 'ImpactLabel';
  src: local('ImpactLabel-lVYZ'),
    url(../../fonts/ImpactLabel-lVYZ.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

body {
  font-family: 'Roboto Mono', monospace;
}
