.saveAndGalleryParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.saveButton,
.galleryButton,
.galleryLink {
  background-color: rgb(84, 113, 207);
  color: white;
  padding: 8px;
  margin: 3px;
  border-radius: 0;
  border: none;
  font-size: 1em;
  box-shadow: none;
  font-family: 'RobotoMono', monospace;
  font-size: 1.3em;
}
/* cursor hovers over the button */

.saveButton:hover,
.galleryButton:hover,
.galleryLink:hover {
  background-color: rgb(84, 113, 207);
  color: white;
  outline: solid 1px white;
  /* border: 1px solid white;
  margin: -1px; */
  box-shadow: none;
}

/* mouse click on the button */
.saveButton:active,
.galleryButton:active,
.galleryLink:active {
  background-color: white;
  color: rgb(84, 113, 207);
  border: 1px solid white;
  margin: -1px;
  box-shadow: none;
}

.gLink {
  text-decoration: none;
}
