.randomButton,
.saveButton,
.galleryButton {
  background-color: rgb(84, 113, 207);
  color: white;
  padding: 8px;
  border-radius: 0;
  border: none;
  font-size: 1em;
  /* background: none; */
  box-shadow: none;
  width: 140px;
  margin: 4px;
  font-family: 'Caveat', cursive;
  font-size: 1.5em;
}
/* cursor hovers over the button */
.randomButton:hover,
.saveButton:hover,
.galleryButton:hover {
  background-color: rgb(84, 113, 207);
  color: white;
  border: double 1px white;
  /* background: none; */
  box-shadow: none;
}

/* mouse click on the button */
.randomButton:active,
.saveButton:active,
.galleryButton:active {
  background-color: white;
  color: rgb(84, 113, 207);
  border: dotted 1px white;
  /* background: none; */
  box-shadow: none;
}
